@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-text-semi-dark: #adb5bdc8;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-semi-red: #fa5252a1;
  --color-red-dark: #e03131;
}

body {
  margin: 0 auto;
  background-color: var(--color-background-100);
  color: var(--color-text);
  min-height: 100vh;
}

.Header {
  background: var(--color-red-dark);
  padding: 20px;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin-inline: auto;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-text);
  padding-left: 20px;
  font-family: "Black Ops One", system-ui;
}

.mainContent{
  max-width: 1440px;
  margin-inline: auto;
}

.productsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 80px 100px;
}

.viewProductBtn {
  width: 100%;
  margin-top: 10px;
}

.viewProductBtn:hover {
  background-color: var(--color-red) !important;
  color: var(--color-text) !important;
}

.footer {
  background-color: var(--color-red-dark);
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 780px) {
  .Header{
    padding: 15px;
  }
  .logo{
    font-size: 28px;
    padding-left: 10px;
  }
  .productsGrid{
    padding:0 20px 80px;
    gap: 15px;
  }
  .footer{
    padding: 15px;
    font-size: 14px;
  }
}
@media screen and (max-width: 520px) {
  .Header{
    padding: 12px;
  }
  .logo{
    font-size: 18px;
    padding-left: 2px;
  }
  .productsGrid{
    grid-template-columns: 1fr 1fr;
    padding: 0 15px 60px;
    gap: 11px;
  }
  .footer{
    padding: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .Header{
    padding: 8px;
  }
  .logo{
    font-size: 14px;
    padding-left: 2px;
  }
  .productsGrid{
    grid-template-columns: 1fr;
    padding: 0 15px 60px;
    gap: 11px;
  }
  .footer{
    padding: 10px;
    font-size: 12px;
  }
}